<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @politician.api_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @politician.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @politician.party %>
</p>

<p>
  <strong>State:</strong>
  <%= @politician.state %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
